table td {
  border: 1px dashed cyan;
  min-width: 100px;
  height: 100px;
}

button {
  min-height: 75px;
  min-width: 75px;
  background: url(/src/images/door1.png) no-repeat;
  background-size: 100%;
  border: none;
}

html {
  background: url(/src/images/background.jpg) no-repeat;
  background-size: 100%;
  background-color: #2B303F;
}

body {
  width: 85%;
  margin: 2% auto;
  background-color: rgba(83, 103, 138, .8);
}

#doors-and-room {
  width: 100%;
  text-align: center;
}

table {
  margin: auto;
  background: url(/src/images/room.jpg) no-repeat;
  background-size: 100%;
  padding: 100px;
  display: inline;
}

#westButton, #eastButton {
  display: inline;
}

