<!DOCTYPE html>
<html ng-app="monsterMansion">
  <head>
    <meta charset="UTF-8">
    <title>Monster Mansion</title>
  </head>
  <body>
    <!--<div ng-controller="gameController">-->
      <div ng-controller="roomController">
        {{roomTitle}}
        <hr>
        {{roomDescription}}
        <br>
        <div ng-repeat="item in items">
          {{item.name}}
          <br>
          {{item.description}}
          <br>
        </div>

        {{monsterName}}
        <br>
        {{monsterDescription}}

        <!-- and how do we populate the table and then buttons in the table? -->
        <div id="northButton"><button ng-click="nButton"><img src="./images/door.png"></button></div>
        <div id="westButton"><button ng-click="wButton"><img src="./images/door.png"></button></button></div>
        <table> <!-- clickable images for each room hide and show go here-->
          <tr>
            <td>{{roomArea1}}</td>
            <td>{{roomArea2}}</td>
            <td>{{roomArea3}}</td>
          </tr>

          <tr>
            <td>{{roomArea4}}</td>
            <td>{{roomArea5}}</td>
            <td>{{roomArea6}}</td>
          </tr>

          <tr>
            <td>{{roomArea7}}</td>
            <td>{{roomArea8}}</td>
            <td>{{roomArea9}}</td>
          </tr>
        </table>
        <div id="eastButton"><button ng-click="eButton"><img src="./images/door.png"></button></div>
        <div id="southButton"><button ng-click="sButton"><img src="./images/door.png"></button></div>

      </div>

      <!-- is this ng-model="character"? --> 
      <!--<div ng-model="inventory" ng-repeat="item for item in inventory" ng-click="run a functions to 1)useItem(), 2) useWeapon()">
        {{inventory}}
      </div>-->

    <!--</div>-->

  </body>
</html>