<!DOCTYPE html>
<html ng-app="monsterMansion">
  <head>
    <meta charset="UTF-8">
    <title>Monster Mansion</title>
  </head>
  <body>
    <!--<div ng-controller="gameController">-->
      <div ng-controller="roomController">
        {{roomTitle}}
        <hr>
        {{roomDescription}}
        <br>
        <div ng-repeat="item in items">
          {{item.name}}
          <br>
          {{item.description}}
          <br>
        </div>

        {{monsterName}}
        <br>
        {{monsterDescription}}
        <div id="doors-and-room">
        <!-- and how do we populate the table and then buttons in the table? -->
          <div id="northButton"><button ng-click="changeRoom({{currentRoom}}, northDoor)"><h1>N</h1></button></div>
          <div id="westButton"><button ng-click="changRoom({{currentRoom}}, westDoor)"><h1>W</h1></button></button></div>
          <table> <!-- clickable images for each room hide and show go here-->
            <tr>
              <td>{{roomArea1}}</td>
              <td>{{roomArea2}}</td>
              <td>{{roomArea3}}</td>
            </tr>

            <tr>
              <td>{{roomArea4}}</td>
              <td>{{roomArea5}}</td>
              <td>{{roomArea6}}</td>
            </tr>

            <tr>
              <td>{{roomArea7}}</td>
              <td>{{roomArea8}}</td>
              <td>{{roomArea9}}</td>
            </tr>
          </table>
          <div id="eastButton"><button ng-click="changeRoom({{currentRoom}}, eastDoor)"><h1>E</h1></button></div>
          <div id="southButton"><button ng-click="changeRoom({{currentRoom}}, southDoor)"><h1>S</h1></button></div>
        </div>
      </div>

      <!-- is this ng-model="character"? -->
      <div ng-controller="characterController"></div>
        <input ng-model="heroName">
        <h1>Hero Name: {{characterName}}</h1>
        <h2>Health: {{characterHealth}}</h2>
      <div ng-model="inventory" ng-repeat="item for item in inventory" ng-click="run a functions to 1)useItem(), 2) useWeapon()">
        <h2>Inventory: {{inventory}}</h2>
      </div>

    <!--</div>-->

  </body>
</html>